absl-py==0.4.1
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
certifi==2018.4.16
chardet==3.0.4
coinmarketcap==4.2.1
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.4
django-secrets==1.0.1
djangorestframework==3.8.2
docopt==0.4.0
future==0.16.0
gast==0.2.0
grpcio==1.15.0
gunicorn==19.8.0
httplib2==0.11.3
idna==2.6
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
mailchimp==2.0.9
Markdown==2.6.11
numpy==1.14.5
oauth2==1.9.0.post1
oauthlib==2.0.7
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.18.3
psycopg2==2.7.4
ptyprocess==0.6.0
Pygments==2.2.0
PyJWT==1.6.4
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-cache==0.4.13
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
traitlets==4.3.2
twitter==1.18.0
twython==3.7.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
whitenoise==3.3.1
