certifi==2018.4.16
chardet==3.0.4
coinmarketcap==4.2.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.4
django-secrets==1.0.1
djangorestframework==3.8.2
docopt==0.4.0
future==0.16.0
gunicorn==19.8.0
httplib2==0.11.3
idna==2.6
mailchimp==2.0.9
oauth2==1.9.0.post1
oauthlib==2.0.7
psycopg2==2.7.4
PyJWT==1.6.4
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-cache==0.4.13
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
twitter==1.18.0
twython==3.7.0
urllib3==1.22
whitenoise==3.3.1
