{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
    <div class="container">
        <div class="panel panel-default panel-table">
          <div class="panel-heading mb-3">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" height="54"></a>
            <br>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>
                            {{cryptocurrency.name}}
                        </h5>
                    </div>
                    <div class="card-body">
                         <!--
                        <p class="card-text">{{cryptocurrency.description}}</p>
                        -->
                        <p class="card-text">{{price}}</p>
                        <a href="{{cryptocurrency.website}}" class="btn btn-primary" target="_blank">Visit Website</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            <div class="card mb-4" style="height: 400px;">
                <div class="card-header">
                    <h5>Price Chart</h5>
                </div>
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                        <script>
                        var ctx = document.getElementById("myChart").getContext('2d');
                        ctx.canvas.height = 360;
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });
                        </script>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4" style="height: 400px;">
                <div class="card-header">
                    <h5>Price Alert</h5>
                </div>
                <div class="card-body">
                    <select class="custom-select mb-3">
                        <option selected>Coin to Track</option>
                        <option value="1">Bitcoin</option>
                        <option value="2">Ethereum</option>
                        <option value="3">Ripple</option>
                    </select>
                    <form>
                        <div class="form-row mb-3">
                            <div class="form-group col-md-6">
                                <p>When Price is Above</p>
                                <input type="number" class="form-control" placeholder="$10000">
                            </div>
                            <div class="form-group col-md-6">
                                <p>When Price is Below</p>
                                <input type="number" class="form-control" placeholder="$100">
                            </div>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary mb-2 center">Start Tracking</button>
                </div>
            </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-8">
                <div class="card mb-4" style="height: 450px;">
                    <div class="card-header">
                        <h5>Growth Score Chart</h5>
                    </div>
                    <div class="card-body">
                        <p>{{json_result}}</p>
                    </div>
                </div>
            </div>

            <!--
            <div class="card" style="max-width: 24rem;">
                <div class="card-header">
                    <h5>Tweets</h5>
                </div>
                <div class="card-body">
                    <p>{{tweet}}</p>
                </div>
            </div>
            -->
            <div class="col-sm-4">
            <div class="card" style="height: 450px;">
                <div class="card-header">
                    <h5>Tweets</h5>
                </div>
                <div class="card-body">
                <!--
                    <a class="twitter-timeline"
                        href="https://twitter.com/TwitterDev"
                        data-width="300"
                        data-height="600"
                        data-chrome="nofooter noborders">
                    Tweets by @TwitterDev
                    </a>
                -->
                    <a class="twitter-timeline"
                        href="{{cryptocurrency.twitter}}"
                        data-width="400"
                        data-height="350"
                        data-chrome="nofooter noborders">
                    Tweets by @{{json_result.name}}
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <canvas id="time-series" width="800" height="800"></canvas>
    <script>
    var labels = [];
    var prices = [];
        function(data){
            labels = detail.date;
            data = detail.price;
        }
    new Chart(document.getElementById("time-series"), {
      type: 'line',
      data: {
        labels: label,
        datasets: [{
            data: data,
            label: "Bitcoin",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Bitcoin price since June 16, 2013'
        }
      }
    });
    </script>
    <canvas id="line-chart" width="800" height="800"></canvas>
    <script>
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: ['2013-6-16','2013-6-17','2013-6-18','2013-6-19','2013-6-20','2013-6-21','2013-6-22','2013-6-23','2013-6-24','2013-6-25'],
        datasets: [{
            data: [99.8,99.9,101.95,107.05,108.25,111.29,109.5,108.2,107.9,102.09],
            label: "Bitcoin",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'World population per region (in millions)'
        }
      }
    });
    </script>
{% endblock %}
