{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
    <div class="container">
        <div class="card-deck">
            <div class="row mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>{{json_result.name}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{json_result}}</p>
                        <a href="/" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="card" style="max-width: 46rem;">
                    <div class="card-header">
                        <h5>Price Chart</h5>
                    </div>
                    <div class="card-body">
                        <p>{{json_result}}</p>
                    </div>
                </div>
                <div class="card" style="max-width: 24rem;">
                    <div class="card-header">
                        <h5>Alart</h5>
                    </div>
                    <div class="card-body">
                        <p>{{json_result}}</p>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="card" style="max-width: 46rem;">
                    <div class="card-header">
                        <h5>Growth Score Chart</h5>
                    </div>
                    <div class="card-body">
                        <p>{{json_result}}</p>
                    </div>
                </div>
                <div class="card" style="max-width: 24rem;">
                    <div class="card-header">
                        <h5>Tweets</h5>
                    </div>
                    <div class="card-body">
                        <p>{{json_result}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
