{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="main-content container">
	  <div class="row">
		  <div class="col-sm-12">
			  <!-- How to add Google and Github OAuth in Django -->
	  			{% if user.is_authenticated %}
	  				<p>Hello, {{ user.username }}</p>

	  			{% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
	  			{% endif %}
		  </div>
	  </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default panel-table">
            <div class="panel-heading">
              <h4>Astroplot Analytics</h4>
			  <br>
            </div>
            <div class="panel-body">
              <table id="table1" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>CRYPTOCURRENCY</th>
                    <th>GROWTH SCORE</th>
                    <th>PRICE</th>
                    <th>MARKET CAP</th>
                    <th>24H CHANGE</th>
                    <th>7D CHANGE</th>
					{% if user.is_authenticated %}
                    <th>ALERT</th>
					{% else %}
					{% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for coin in result %}
                        <tr>
                            <td>{{coin.rank}}&ensp;
                                {% with 'img/'|add:coin.symbol|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" alt="{{coin.symbol}}" height="24">&ensp;
                                {% endwith %}
                                <!--
                                <img src="{% static 'img/btc.png' %}" alt="{{coin.symbol}}" height="24">&ensp;
                                -->
                                <a href="/detail/{{coin.id}}">{{coin.name}}</a>

                            </td>
                            <td>{{coin.symbol}}</td>
                            <td>&#36;{{coin.price_usd}}</td>
                            <td>&#36;{{coin.market_cap_usd}}</td>
                            <td>{{coin.percent_change_24h}}&#37;</td>
                            <td>{{coin.percent_change_7d}}&#37;</td>
							{% if user.is_authenticated %}
                            <td>YES/NO</td>
							{% else %}
							{% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
