{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="container">
	  <div class="row">
		  <div class="col-md-12 mb-2">
			  <!-- How to add Google and Github OAuth in Django -->
	  			{% if user.is_authenticated %}
	  				<p>Hello, {{ user.username }}</p>
                    <p><a href="{% url 'logout' %}">Logout</a></p>
	  			{% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
	  			{% endif %}
		  </div>
	  </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-heading mb-3">
              <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" height="54"></a>
    		  <br>
          </div>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                      <th scope="col">CRYPTOCURRENCY</th>
                      <th scope="col"><div class="d-none d-sm-block">GROWTH SCORE</div></th>
                      <th scope="col">PRICE</th>
                      <th scope="col"><div class="d-none d-sm-block">MARKET CAP</div></th>
                      <th scope="col"><div class="d-none d-sm-block">24H CHANGE</div></th>
                      <th scope="col"><div class="d-none d-sm-block">7D CHANGE</div></th>
    				  {% if user.is_authenticated %}
                      <th scope="col"><div class="d-none d-sm-block">ALERT</div></th>
    				  {% else %}
    				  {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for coin in result %}
                        <tr>
                            <td>{{coin.rank}}&ensp;
                                {% with 'img/'|add:coin.symbol|add:'.png' as image_static %}
                                    <img src="{% static image_static %}" alt="{{coin.symbol}}" height="24">&ensp;
                                {% endwith %}
                                <a href="/detail/{{coin.id}}">{{coin.name}}</a>
                            </td>

                            <td><div class="d-none d-sm-block">{{coin.symbol}}</div></td>
                            <td>&#36;{{coin.price_usd}}</td>
                            <td><div class="d-none d-sm-block">&#36;{{coin.market_cap_usd}}</div></td>
                            <td><div class="d-none d-sm-block">{{coin.percent_change_24h}}&#37;</div></td>
                            <td><div class="d-none d-sm-block">{{coin.percent_change_7d}}&#37;</div></td>
    						{% if user.is_authenticated %}
                            <td><div class="d-none d-sm-block">YES/NO</div></td>
    						{% else %}
    						{% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
    </div>
    <canvas id="time-series" width="800" height="800"></canvas>
    <script>
    var labels = [];
    var prices = [];
        function(data){
            labels = detail.date;
            data = detail.price;
        }
    new Chart(document.getElementById("time-series"), {
      type: 'line',
      data: {
        labels: label,
        datasets: [{
            data: data,
            label: "Bitcoin",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Bitcoin price since June 16, 2013'
        }
      }
    });
    </script>
    <canvas id="line-chart" width="800" height="800"></canvas>
    <script>
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: ['2013-6-16','2013-6-17','2013-6-18','2013-6-19','2013-6-20','2013-6-21','2013-6-22','2013-6-23','2013-6-24','2013-6-25'],
        datasets: [{
            data: [99.8,99.9,101.95,107.05,108.25,111.29,109.5,108.2,107.9,102.09],
            label: "Bitcoin",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'World population per region (in millions)'
        }
      }
    });
    </script>
    <!--
    <canvas id="bubble-chart" width="800" height="800"></canvas>
    <script>
    new Chart(document.getElementById("bubble-chart"), {
        type: 'bubble',
        data: {
          labels: "Africa",
          datasets: [
            {
              label: ["China"],
              backgroundColor: "rgba(255,221,50,0.2)",
              borderColor: "rgba(255,221,50,1)",
              data: [{
                x: 21269017,
                y: 5.245,
                r: 15
              }]
            }, {
              label: ["Denmark"],
              backgroundColor: "rgba(60,186,159,0.2)",
              borderColor: "rgba(60,186,159,1)",
              data: [{
                x: 258702,
                y: 7.526,
                r: 10
              }]
            }, {
              label: ["Germany"],
              backgroundColor: "rgba(0,0,0,0.2)",
              borderColor: "#000",
              data: [{
                x: 3979083,
                y: 6.994,
                r: 15
              }]
            }, {
              label: ["Japan"],
              backgroundColor: "rgba(193,46,12,0.2)",
              borderColor: "rgba(193,46,12,1)",
              data: [{
                x: 4931877,
                y: 5.921,
                r: 15
              }]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Predicted world population (millions) in 2050'
          }, scales: {
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Happiness"
              }
            }],
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "GDP (PPP)"
              }
            }]
          }
        }
        });
    </script>
-->
{% endblock %}
