{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="main-content container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default panel-table">
            <div class="panel-heading">
              <p>&ensp;Astroplot Analytics</p>
            </div>
            <div class="panel-body">
              <table id="table1" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>CRYPTOCURRENCY</th>
                    <th>GROWTH SCORE</th>
                    <th>PRICE</th>
                    <th>MARKET CAP</th>
                    <th>24H CHANGE</th>
                    <th>7D CHANGE</th>
                    <th>ALART</th>
                  </tr>
                </thead>
                <tbody>
                    {% for coin in result %}
                    {% load static %}
                        <tr>
                            <td>{{coin.rank}}&ensp;
                                <img src=" {% static "img/BTC@2x.png" %}" alt="{{coin.symbol}}" height="24">&ensp;
                                <a href="/detail/{{coin.id}}">{{coin.name}}</a>
                            </td>
                            <td>-</td>
                            <td>&#36;{{coin.price_usd}}</td>
                            <td>&#36;{{coin.market_cap_usd}}</td>
                            <td>{{coin.percent_change_24h}}&#37;</td>
                            <td>{{coin.percent_change_7d}}&#37;</td>
                            <td>YES/NO</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
